.hero {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 var(--space-l);
  min-height: 850px;
  display: flex;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/1437493/pexels-photo-1437493.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px #3f3f3f67;
}

.hero h1 {
  color: var(--color-text-inversed);
}

.hero .content {
  align-self: flex-end;
}

.lead {
  font-size: clamp(1.05rem, 1.1rem + .4vw, 1.35rem);
  max-width: 48ch;
  backdrop-filter: blur(0.7px);
  color: var(--color-text-inversed);
}

.actions-hero {
  display: flex;
  gap: 1rem;
  margin-top: 1.25rem;
  flex-wrap: wrap;
}

/* BACKGROUND IMAGE BASIC SETUP
  background-image: url('https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

@media (max-width: 640px) {
  .hero {
    padding: 0;
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }

  .lead {
    font-size: clamp(0.95rem, 1rem + .4vw, 1.15rem);
    max-width: 100%;
  }
}
