---
import CTAButton from './CTAButton.astro';
import { Image } from 'astro:assets';
---
<div class="about" id="about">
  <div class="container">
    <div class="content">
      <div class="grid-two-columns">
        <div style="align-self: center;">
          <h2 style="font-size: 32px;">À propos</h2>
          <p>
            Entreprise qui valorise la cohésion d’équipe pour assurer le meilleur déroulement de vos projets. Nous mettons l’accent sur la collaboration et la confiance afin de garantir des résultats à la hauteur de vos attentes.
          </p>
          <CTAButton label="Discuter de votre projet" />
        </div>
        <div>
          <Image
            src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/499623298_1483369659612026_4078684229886361703_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=AnGGH7BUp-8Q7kNvwFE6LCo&_nc_oc=AdlEQ8Ij7twteLjzPg9g7qPRh7nb-5ikAJTw9uXeu8DsgwDrTtOj2T9oUgBCXhaPhUL4i9fNZZQUkFa04n0kDW-T&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=hbj135zMaDH9N-woWuWCog&oh=00_AfbrZ8aSV1fpnPw1XZCf9bnBwcHvPy2yMuftpAGiFGOipQ&oe=68CFB06E"
            alt="Company Team"
            style="display: block; border-radius: 8px; max-width: 100%; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.722);"
            width={600}
            height={400}
            />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .about p { max-width: 70ch; }
</style>
