---
import CTAButton from './CTAButton.astro';
import { Image } from 'astro:assets';
---
<div class="about" id="about">
  <div class="container">
    <div class="content">
      <div class="grid-two-columns">
        <div style="align-self: center;">
          <h2 style="font-size: 32px;">À propos</h2>
          <p>
            Entreprise qui valorise la cohésion d’équipe pour assurer le meilleur déroulement de vos projets. Nous mettons l’accent sur la collaboration et la confiance afin de garantir des résultats à la hauteur de vos attentes.
          </p>
          <CTAButton label="Discuter de votre projet" />
        </div>
        <div>
          <Image
            src="https://media.istockphoto.com/id/1487278371/fr/photo/ing%C3%A9nieur-professionnel-de-lindustrie-et-contrema%C3%AEtre-dusine-membre-de-l%C3%A9quipe-porter-un.jpg?s=612x612&w=0&k=20&c=POnp4CVzTbC5xyZ-Gsd06j_hbZ7PY8PcZdau3kc_YGc="
            alt="Company Team"
            style="display: block; border-radius: 8px; max-width: 100%; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.722);"
            width={600}
            height={400}
            />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .about p { max-width: 70ch; }
</style>
