---
import CTAButton from './CTAButton.astro';
import { Image } from 'astro:assets';

---

<section class="realisations">
  <div class="container">
    <div class="content">
      <h2>Nos Réalisations</h2>
      <p class="lead">Découvrez quelques-uns de nos projets les plus marquants</p>

      <div class="realisations-grid">

        <!-- Before/After project example -->
        <div class="realisation-item before-after">
          <h3>Rénovation - Place à Mazères</h3>
          <div class="before-after-container">
            <div class="before-image">

              <Image src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/530442839_1553143535967971_7845666870227614686_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=sOLcN0yX8VgQ7kNvwHb_1Hc&_nc_oc=AdlRpCXAAINQCHvl_n5FpFBaKcaKauAD4dgn0t13q9fRXzvXDnyLcgFtZA_EAps2_ZnWbfIolqRHjmJSySdzLajR&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=pFBY8BTKVeqaQ_VWFuxshA&oh=00_Afaa24UQNoECIf_wBT7EEkdkcYSVAM5c6TI6jStDq0kH9g&oe=68D04BED" alt="Avant rénovation"  width={600} height={400} loading="lazy" />
              <span class="image-label">Avant</span>
            </div>
            <div class="after-image">
                <Image src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/528405971_1553143589301299_6928443870345183130_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=sUAWYMN4RccQ7kNvwHv3KVq&_nc_oc=AdnlM9y6h0lIruHGEWkPwQNUIxnRvFJvK1ygc3BsA58MMML54WyxTr3eb-NoOfK_RUDg53khtcQVn0tQaQvMuEEQ&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=lEwFAzS9q5BHy7-8WUGuoQ&oh=00_AfY4muoEC8YlKFHh6a6RdYLl3lxBnY2IwZy1Ij8lSYC44Q&oe=68D62D5B" alt="Après rénovation" width={600} height={400} loading="lazy" />
              <span class="image-label">Après</span>
            </div>
          </div>
          <p>Rénovation complète d'une place à Mazères</p>
        </div>

        <!-- Standard project example -->
        <div class="realisation-item standard">
          <h3>Construction de l'école - À Caignac</h3>
          <div class="standard-image">
              <Image src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/541336983_1578621106753547_7080220940595785547_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=cOEYgxXeF8sQ7kNvwEyIUhc&_nc_oc=Adnofj2I4u3j4Fp2IQFhzHekh_SmV7tBPDHRuAQXIz8z4f_yRdYj4N9UvsidnJfjCUbkTh46WVBtxDKdwkPY9_yo&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=Zq7JFTAtXI_vmR0pCl6LrQ&oh=00_AfaeozkZRskXq5GjnAOLdDu8aBRtIEDJAP93qFLVu0W0ug&oe=68D0529F" alt="Bureau commercial moderne" width={600} height={400} loading="lazy" />
          </div>
          <p>Participation à la construction de l'école à Caignac</p>
        </div>

        <!-- Another Before/After example -->
        <div class="realisation-item before-after">
          <h3>Rénovation - Fosse de maintenance</h3>
          <div class="before-after-container">
            <div class="before-image">
                <Image src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/522592716_1539668310648827_6590538486130515548_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=ROzXsbSY8x4Q7kNvwF1qYB3&_nc_oc=AdnkSGWJQnCNhw2n3P57cQ5ODxZ3J9u7uXOEjD9P97ANI3xh8HaqZexJcHd--E-uulKTpnndlDXnijbWLH69piXE&_nc_zt=23&_nc_ht=scontent-cdg4-3.xx&_nc_gid=eIe_qqw0PK5FrsRRCOq6rQ&oh=00_AfZPmjv9Mrl75XA0SfRR1zExB3j6Ebtt5e0bXXapAfyR6g&oe=68D0610B" alt="Ancienne cuisine" width={600} height={400} loading="lazy" />
              <span class="image-label">Avant</span>
            </div>
            <div class="after-image">
                <Image src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/515930018_1539668227315502_8592744708137661670_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=fPtdJY_GFyQQ7kNvwFAAV2t&_nc_oc=AdmRK6M2E0-ruG4-rlN0CpnRgmkE5cllSOKJYfMlQl2Dwd0bfNxo7czhySEci0MtyXHZo_XTfZkm6vqTJ7DZaGSs&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=nN9xvIVAuhLhyXhbLQGPLA&oh=00_AfZSAAUGkeDD_eXobJfsU7IFTU8Ohlqjgefm_DssZ8rleg&oe=68D03C0E" alt="Nouvelle cuisine" width={600} height={400} loading="lazy" />
              <span class="image-label">Après</span>
            </div>
          </div>
          <p>Atelier à Auterive, rénovation complète de la fosse de maintenance.</p>
        </div>

      </div>

      <div class="actions">
        <CTAButton label="Je demande un devis" />
      </div>
    </div>
  </div>
</section>
